extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a.back-button(href='/') ← #{assets[language]['back-button']}
    div.lang-buttons
      a(href='/languages/en')
        img(src='/static/img/USA.svg', alt='flag of United States')
      a(href='/languages/de')
        img(src='/static/img/Germany.svg', alt='flag of Germany')
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{assets[language]['name']}

        p.lead.text-light
          | #{assets[language]['job-title']}

        .portfolio-bio
          p
            | #{assets[language]['portfolio-bio']}
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 #{assets[language]['skills']['skills-text']}

        ul
          each skill in assets[language]['skills']['skills-list']
            li= skill
        h6 #{assets[language]['contact-info']}

        ul
          li reinhard.liess@gmail.com

        //- Social media accounts
        div.soc-med
          a(href='https://twitter.com/rliessdev', target='_blank')
            ion-icon(name='logo-twitter')
          a(href='https://github.com/rliess', target='_blank')
            ion-icon(name='logo-github')
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← #{assets[language]['back-button']}
