extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    p.spacer
    div.lang-buttons
      a(href='/languages/en')
        img(src='/static/img/USA.svg', alt='flag of the United States')
      a(href='/languages/de')
        img(src='/static/img/Germany.svg', alt='flag of Germany')
  article.grid-container.portfolio-intro
    div

      h1 #{assets[language]['portfolio-title']}

      p.lead.text-light
        | #{assets[language]['portfolio-description']}
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- display screenshots for all projects in descending order
      //- NB: use of spread operator is necessary because Array.reverse() is destructive (why, JavaScript, why)
      each project, index in [...projects].reverse()
        .cell
          a(href=`/projects/${projects.length - 1 - index}`)
            img.thumbnail(src=`${project['image-urls'][0]}`)
            h5 #{project[language]['project-name']}


