<!DOCTYPE html>
html(class="no-js" lang=`${language}` dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio - Reinhard Liess
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/img/profile-pic.jpg')
          .cell.auto

            h5 #{assets[language]['name']}

            p.text-light
              | #{assets[language]['bio-sidebar']}

            a(href='/about') #{assets[language]['learn-more']} →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- This is for the mobile screen sized version.
          span.title-bar-title #{assets[language]['name']}
      block content



  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='https://unpkg.com/ionicons@4.5.5/dist/ionicons.js')
  script(src='/static/js/scripts.js')
