extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a.back-button(href='/') â† #{assets[language]['back-button']}
    div.lang-buttons
      a(href='/languages/en')
        img(src='/static/img/USA.svg', alt='flag of United States')
      a(href='/languages/de')
        img(src='/static/img/Germany.svg', alt='flag of Germany')
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects[id][language]['project-name']}

        p.lead.text-light.animated.fadeIn
          | #{projects[id][language]['description']}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 #{assets[language]['technologies']}

        ul
          each technology in projects[id][language]['technologies-list']
            li= technology

        a.project-link(href=`${projects[id]['live-link']}`, target='_blank')
          ion-icon(name='play-circle')
          span Demo
        a.project-link(href=`${projects[id]['github-link']}`, target='_blank')
          ion-icon(name='logo-github')
          span GitHub

    //- display screenshots, skip landing page image at index 0
    each url in projects[id]['image-urls'].filter((element, index) => index > 0 )
      img.image(src=`${url}`)