extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    include back-button.pug
    include lang-buttons.pug
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects[id][language]['project-name']}

        p.project-text.text-light.animated.fadeIn
          | #{projects[id][language]['description']}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 #{assets[language]['technologies']}

        ul
          each technology in projects[id][language]['technologies-list']
            li= technology

        a.project-link(href=`${projects[id]['live-link']}`, target='_blank', rel='noopener noreferrer')
          ion-icon(name='play-circle')
          span Demo
        a.project-link(href=`${projects[id]['github-link']}`, target='_blank', rel='noopener noreferrer')
          ion-icon(name='logo-github')
          span GitHub

    //- display screenshots, skip landing page image at index 0
    each url in projects[id]['image-urls'].filter((element, index) => index > 0 )
      img.image(src=`${url}`)